@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px; }

/*index.html*/
.color-index {
  background: #232E47; }

.header-flex {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 1325px;
  height: 140px; }

.logo-index {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px; }
  .logo-index a {
    cursor: pointer; }

.nav-usario-flex {
  padding-top: 65px; }
  .nav-usario-flex ul {
    list-style: none;
    display: flex; }
  .nav-usario-flex a:hover {
    color: #faad06;
    font-weight: 800; }
  .nav-usario-flex .usuario-index {
    padding: 15px;
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500; }

.dropdown {
  padding-top: 60px;
  padding-right: 20px;
  margin-left: -800px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }
  .dropdown .btn {
    background: rgba(255, 255, 255, 0);
    border: none; }
  .dropdown .btn:hover {
    color: #faad06;
    font-weight: 800;
    border: none; }

.contenedor-parrafo, .Quienes-somos {
  display: block;
  position: absolute;
  width: 50%;
  top: 50%; }
  .contenedor-parrafo .parrafo-index, .Quienes-somos .parrafo-index {
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    text-align: left;
    color: white;
    line-height: 1.6;
    padding-left: 20px;
    font-size: 50px; }

.footer-index-flex, .footer-producto-flex, .footer-producto-flex-contacto {
  display: flex;
  justify-content: space-between;
  padding-top: 30px; }
  .footer-index-flex li, .footer-producto-flex li, .footer-producto-flex-contacto li {
    list-style: none;
    margin-left: -10px; }
  .footer-index-flex a, .footer-producto-flex a, .footer-producto-flex-contacto a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 20px; }
  .footer-index-flex a:hover, .footer-producto-flex a:hover, .footer-producto-flex-contacto a:hover {
    color: #faad06;
    font-weight: 600; }
  .footer-index-flex .footer-redes-index, .footer-producto-flex .footer-redes-index, .footer-producto-flex-contacto .footer-redes-index {
    display: flex;
    justify-content: end;
    margin-top: 50px;
    padding-right: 20px; }

.footer-copy, .footer-copy-producto, .footer-copy-contacto {
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif; }

/*nosotros.html*/
.color-nosotros {
  background: #232E47; }

.nav-usario-flex-nosotros {
  padding-top: 65px;
  font-family: "Montserrat", sans-serif; }
  .nav-usario-flex-nosotros ul {
    list-style: none;
    display: flex; }
  .nav-usario-flex-nosotros a {
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 10px; }
  .nav-usario-flex-nosotros a:hover {
    color: #faad06;
    font-weight: bold; }
  .nav-usario-flex-nosotros .icono-carrito {
    margin-top: -18px; }

.Quienes-somos {
  margin-left: 20px;
  text-align: left;
  background: #232e47c9;
  padding: 20px;
  border-radius: 10px; }
  .Quienes-somos .titulo-prin {
    color: #faad06;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder; }
  .Quienes-somos .parrafo {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px; }

.clientes {
  color: white;
  font-family: "Montserrat", sans-serif;
  background-color: #232e47b4;
  text-align: center;
  width: 1340px;
  height: 200px;
  background-image: url(../multimedia/img/nuestros-clientes.png);
  background-position: bottom;
  animation: slider 20s infinite linear; }

@keyframes slider {
  to {
    background-position: 1275px; } }

/*producto.html*/
.color-producto {
  background-image: url(../multimedia/img/bastones-producto.jpg);
  background-size: cover; }

.muestra-producto {
  display: flex;
  justify-content: center; }
  .muestra-producto h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    position: absolute;
    top: 30%; }

.container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40%;
  align-items: center; }

.plancha20, .plancha10, .cilindro5 {
  width: 250px;
  height: 300px;
  background: rgba(255, 255, 255, 0.863);
  margin-left: 50px;
  border-radius: 15px; }
  .plancha20 img, .plancha10 img, .cilindro5 img {
    margin-left: 50px;
    margin-top: 10px; }
  .plancha20 p, .plancha10 p, .cilindro5 p {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
    margin-top: 10px; }
  .plancha20 p:hover, .plancha10 p:hover, .cilindro5 p:hover {
    color: white;
    background: #232e47c9;
    width: 250px;
    height: 80px;
    border-radius: 15px;
    cursor: pointer; }

.cilindro5 img {
  margin-left: 85px; }

.footer-producto-flex, .footer-producto-flex-contacto {
  position: absolute;
  top: 100%;
  width: 1342px;
  height: 244px;
  background: #232E47; }

.footer-copy-producto, .footer-copy-contacto {
  position: absolute;
  top: 131%;
  margin-left: 150px; }

/*contacto.html*/
.color-contacto {
  background: #232E47; }

.contacto-container {
  display: flex; }
  .contacto-container .mapa {
    position: absolute;
    left: 53%;
    top: 23%; }
    .contacto-container .mapa p {
      color: white;
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      font-weight: bolder;
      text-align: center; }

.formulario {
  width: 410px;
  height: 570px;
  background: #194abe;
  border-radius: 10px;
  margin-left: 30px;
  position: absolute;
  top: 23%; }
  .formulario h1 {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: none; }
  .formulario .mb-3-cuerpo {
    width: 390px;
    padding-left: 20px; }
  .formulario .nombre {
    padding-top: 20px;
    color: white; }
  .formulario .form-label {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 15px; }
  .formulario .form-floating {
    width: 390px;
    padding-left: 20px; }

.boton {
  margin-top: 20px;
  margin-left: 84px; }

.footer-producto-flex-contacto {
  top: 110%; }

.footer-copy-contacto {
  top: 140%; }

/*Iniciarsesion.html*/
.color-iniciosesion {
  background: #232E47; }

.logo-inicio-sesion {
  position: relative;
  left: 43%;
  top: 70px; }

.cuerpo-ingresar, .cuerpo-registrarse {
  width: 509px;
  height: 500px;
  background: white;
  margin-left: 400px;
  border-radius: 15px;
  padding-left: 64px;
  padding-right: 64px; }
  .cuerpo-ingresar h1, .cuerpo-registrarse h1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding-top: 100px;
    padding-bottom: 10px; }
  .cuerpo-ingresar .caja-usuario, .cuerpo-registrarse .caja-usuario {
    width: 100%;
    margin-bottom: 30px;
    border: none;
    outline: none;
    border-bottom: solid 1px grey; }
  .cuerpo-ingresar .caja-usario:hover, .cuerpo-registrarse .caja-usario:hover {
    border-bottom: solid 3px #3f3f3f; }
  .cuerpo-ingresar .caja-contraseña, .cuerpo-registrarse .caja-contraseña {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: solid 1px grey; }
  .cuerpo-ingresar .flex-inicio, .cuerpo-registrarse .flex-inicio {
    display: flex;
    justify-content: space-between; }
    .cuerpo-ingresar .flex-inicio .checkbox, .cuerpo-registrarse .flex-inicio .checkbox {
      margin-top: 20px; }
    .cuerpo-ingresar .flex-inicio .recordar, .cuerpo-registrarse .flex-inicio .recordar {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 12px; }
    .cuerpo-ingresar .flex-inicio .olvidar-contraseña, .cuerpo-registrarse .flex-inicio .olvidar-contraseña {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 12px;
      margin-top: 20px; }
      .cuerpo-ingresar .flex-inicio .olvidar-contraseña a, .cuerpo-registrarse .flex-inicio .olvidar-contraseña a {
        text-decoration: none; }
  .cuerpo-ingresar .btn, .cuerpo-registrarse .btn {
    background-color: #232E47;
    color: white;
    font-family: "Montserrat", sans-serif; }
  .cuerpo-ingresar .btn:hover, .cuerpo-registrarse .btn:hover {
    color: white;
    background: #3e5690; }
  .cuerpo-ingresar .boton-inicio-s, .cuerpo-registrarse .boton-inicio-s, .cuerpo-registrarse .boton-registro-s {
    margin-top: 5px;
    margin-left: 125px; }
  .cuerpo-ingresar .direccion-registro, .cuerpo-registrarse .direccion-registro {
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    text-align: center; }
    .cuerpo-ingresar .direccion-registro a, .cuerpo-registrarse .direccion-registro a {
      text-decoration: none;
      font-weight: 600; }

.inicio-sesion-redes {
  display: flex;
  justify-content: space-around; }
  .inicio-sesion-redes .boton-google, .inicio-sesion-redes .boton-facebook {
    width: 109px;
    height: 38px;
    background: white;
    border-style: 1px #a5a4a4;
    border-radius: 5px; }
  .inicio-sesion-redes .boton-google:hover, .inicio-sesion-redes .boton-facebook:hover {
    background: rgba(211, 211, 211, 0.466); }
  .inicio-sesion-redes .boton-facebook {
    background: #1414a5;
    border: none; }
  .inicio-sesion-redes .boton-facebook:hover {
    background: #1616e7; }

/*registrarse.html*/
.cuerpo-registrarse {
  height: 600px; }
  .cuerpo-registrarse .flex-Registro {
    display: flex;
    justify-content: space-around; }
    .cuerpo-registrarse .flex-Registro .checkbox-registro {
      margin-top: 15px; }
    .cuerpo-registrarse .flex-Registro .Terminos {
      margin-top: 13px;
      margin-left: 5px;
      margin-bottom: 15px;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      font-weight: 600; }
  .cuerpo-registrarse .boton-registro-s {
    margin-left: 118px;
    margin-bottom: 10px; }

/*registrarse.html*/
.cuerpo-error-404 {
  background-color: #232E47; }

.img-error {
  display: flex;
  justify-content: center;
  margin-top: 50px; }

.texto-error {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center; }
  .texto-error h1 {
    font-size: 80px;
    font-weight: 900; }
  .texto-error p {
    font-size: 30px; }

.boton-error {
  display: flex;
  justify-content: center; }
  .boton-error .boton-volver-menu {
    width: 236px;
    height: 50px;
    border: white solid 2px;
    border-radius: 10px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 50px; }
  .boton-error .boton-volver-menu:hover {
    cursor: pointer;
    background: white;
    color: black;
    border: none; }

/*media queries*/
@media screen and (max-width: 1024px) {
  /*index.html*/
  .header-flex {
    width: 800px;
    height: 140px; }
  .contenedor-parrafo, .Quienes-somos {
    top: 40%; }
  /*nosotros.html*/
  .nav-usario-flex-nosotros {
    width: 1000px;
    margin-right: -600px; }
    .nav-usario-flex-nosotros ul {
      display: flex;
      flex-direction: column;
      justify-content: end;
      margin-left: 400px; }
  /*producto.html*/
  .icono-carrito {
    position: absolute;
    top: 144%;
    left: 109%; }
  .footer-producto-flex, .footer-producto-flex-contacto {
    width: 1000px; }
  /*contacto.html*/
  .nav-usario-flex-nosotros {
    padding-top: 10px; }
    .nav-usario-flex-nosotros .icono-carrito {
      position: absolute;
      top: 105%; }
  /*iniciarsesion.html*/
  .cuerpo-ingresar, .cuerpo-registrarse {
    margin-left: 260px; } }

@media screen and (max-width: 600px) {
  /*index.html*/
  .header-flex {
    width: 400px;
    height: 190px;
    flex-direction: column; }
  .contenedor-parrafo, .Quienes-somos {
    top: 35%; }
  /*nosotros.html*/
  .nav-usario-flex-nosotros {
    width: 600px; }
    .nav-usario-flex-nosotros ul {
      display: flex;
      flex-direction: column;
      justify-content: end;
      margin-left: 400px;
      margin-top: -160px; }
  .Quienes-somos {
    top: 30%;
    width: 400px; }
  /*producto.html*/
  .container {
    display: flex;
    flex-direction: column; }
  .icono-carrito {
    position: absolute;
    top: 95%;
    left: 115%; }
  .footer-producto-flex, .footer-producto-flex-contacto {
    top: 200%;
    width: 600px;
    height: 300px; }
  .footer-copy-producto, .footer-copy-contacto {
    top: 230%;
    padding-right: 50px; }
  /*contacto.html*/
  .contacto-container {
    display: flex;
    flex-direction: column; }
  /*iniciarsesion.html*/
  .cuerpo-ingresar, .cuerpo-registrarse {
    margin-left: 70px; } }

@media screen and (max-width: 480px) {
  /*index.html*/
  .header-flex {
    width: 200px;
    height: 190px;
    flex-direction: column; }
  .contenedor-parrafo, .Quienes-somos {
    top: 30%; }
  /*nosotros.html*/
  .nav-usario-flex-nosotros {
    width: 200px; }
    .nav-usario-flex-nosotros ul {
      display: flex;
      flex-direction: column;
      justify-content: end;
      margin-left: 300px;
      margin-top: -160px; }
  .Quienes-somos {
    top: 30%;
    width: 300px; }
  /*producto.html*/
  .icono-carrito {
    position: absolute;
    top: 20%;
    left: 180%; }
  .footer-producto-flex, .footer-producto-flex-contacto {
    width: 500px;
    height: 350px; }
  /*contacto.html*/
  /*iniciarsesion.html*/
  .cuerpo-ingresar, .cuerpo-registrarse {
    margin-left: 15px; } }
